beautifulsoup4==4.11.2
bs4==0.0.1
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
cryptography==39.0.2
cssselect==1.2.0
distro==1.8.0
lxml==4.9.2
numpy==1.24.2
pandas==1.5.3
pdfminer.six==20221105
pdfquery==0.4.3
pycparser==2.21
PyPDF2==3.0.1
pyquery==2.0.0
python-dateutil==2.8.2
pytz==2022.7.1
roman==4.0
six==1.16.0
soupsieve==2.4
tabula-py==2.7.0
